$font_main: #31363f;
$font_ghostly: #eef1f4;
$font_error: #cc383c;
$background_form: rgba(238, 241, 244, 0.3);
$button: #e2e7ee;
$button_inactive: rgba(238, 241, 244, 0.5);
$ui_active: #667080;
$cart_background: #f1f5f880;
$cart_symbols: #b2b7bf;
